<!DOCTYPE html>
<html lang="en">
<head>
{% include 'head.html' %}
</head>

<body>

<!-- heading -->
<!-- <div class="announcement">
    <div class="container">this is a counter</div>
</div> -->
<div class="header">
    <div class="container header-container">
        <div class="logo"><a href="{% url 'polls:index' %}">VOTEUP</a></div>
        <div class="counter"><span id="dateCountdown"></span></div>

    </div>
</div>

<!-- main -->
{% block body %}{% endblock %}

<!-- footer -->
{% include 'footer.html' %}

<!-- scripts -->
{% load static %}
<script>
    window.addEventListener('DOMContentLoaded', function () {
        registration()
        countDown()
    })
</script>

</body>
</html>