<!DOCTYPE html>
<html lang="en">
<head>
{% include 'head.html' %}
</head>

<body>

<!-- heading -->
<!-- <div class="announcement">
    <div class="container">this is a counter</div>
</div> -->
<div class="header">
    <div class="container header-container">
        <div><a href="{% url 'polls:index' %}">VOTE2020</a></div>
        <div class="counter"><span id="dateCountdown"></span></div>

    </div>
</div>

<!-- main -->
{% block body %}{% endblock %}

<!-- scripts -->
{% load static %}
{% block js %}
<script>
    window.addEventListener('DOMContentLoaded', function () {
        response()
        slider()
        registration()
        animateOnScroll()
        buttonRipple()
        countDown()
        countDown()
    })
</script>
{% endblock %}

<!-- footer -->
{% include 'footer.html' %}
</body>
</html>