{% load static %}
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-N2LHDP9');</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168226268-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-168226268-2');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="og:title" content="2020 Presidential Candidate Match Quiz">
<meta name="og:url" content="https://votup.app">
<meta name="og:image" content="#">
<meta name="og:description" content="Find out which candidate, Donald Trump or Joe Biden agrees with you most.">

<!-- custom js -->
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'img/polls/favicon.ico' %}" />

<!-- sharethis -->
<script type="text/javascript"
    src="//platform-api.sharethis.com/js/sharethis.js#property=#{property?._id}&product=custom-share-buttons"></script>

<title>{% block title %}{% endblock %}</title>