<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<style>

    .HomepageHeroGradient {
        --gradientColorZero: 
        --gradientColorOne:
        --gradientColorTwo:
        --gradientColorThree:
        --gradientColorZeroTransparent:
        --gradientColorOneTransparent:
        --gradientColorTwoTransparent:
        --gradientColorThreeTransparent:
        --gradientAngle: var(--angleStrong);
        --gradientHeight: calc(100% + var(--sectionPaddingTop) + var(--transformOriginX)*var(--sectionAngleSin));
        --offsetX:
        --transformOriginX:
        --sectionAngleSin:
        position: absolute;
        bottom: 0;
        top: auto;
        left: calc(var(--offsetX)*-1);
        width: var(--windowWidth);
        min-width: 1000px;
        height: var(--gradientHeight);
        transform-origin: var(--transformOriginX) 100%;
        transform: skewY(var(--gradientAngle));
        overflow: hidden;
        border: none;
    }
    .gradient__canvas {
        position: relative;
        display: block;
        width: inherit;
        height: 100%;
        opacity: 0;
    }
    .gradient__canvas.isLoaded {
        opacity :1
        transition: opacity 1.8s ease-in 50ms;
    }
</style>
<script>
    function registration() {
        var input, filter, ul, li, urls, txtValue;
        input = document.querySelector('#registrationInput');
        filter = input.value.toUpperCase();
        ul = document.querySelector('#registrationUL');
        lists = ul.querySelectorAll('#registrationState')
        urls = document.querySelectorAll('#registrationLink')
        
        lists.forEach(list => {
            textValue = list.firstElementChild.innerHTML
            
            if(textValue.toUpperCase().indexOf(filter) > -1) {
                list.style.display = ''
            } else {
                list.style.display = 'none'
            }
        })
    }

</script>
<!-- 
<div class="HomepageHeroGradient Gradient isLoaded">
    <canvas class="Gradient__canvas isLoaded" data-js-controller="Gradient" data-transition-in width="375" height="600"></canvas>
</div> -->
