<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<style>
    /* .u-hide-test {
        position: relative;
        max-height: 0px;
        overflow: hidden;
    }
    .u-show-test {
        position: relative;
        animation: showPoll .4s cubic-bezier(0.29, 0.24, 1, 0.19);
    }
    @keyframes showPoll {
        0% {
            opacity: 0;
            max-height: 0;
        }
        50% {
            opacity: 0;
            max-height: var(max-height);
        }
        100% {
            opacity: 1;
        }
    } */
    /* .check-registration {
        background: white;
        padding: 3rem 2rem;
        margin-top: 1rem;
    } */
    .check-registration-static {

    }
    .check-registration-dynamic {

    }
</style>