/** 
* Variables
 */

/* -----------------
* Containers
----------------- */
$containers: (
    'sm': 540px,
    'md': 720px,
    'lg': 960px,
    'xl': 1140px,
) !default;

/* -----------------
* Breakpoints
----------------- */ 
$breakpoints: (
    'xs': 0rem,
    'sm': 36rem,
    'md': 48rem,
    'lg': 62rem,
    'xl': 75rem,
) !default;

/* -----------------
* Global colors
----------------- */ 
$background: #ffffff !default;
$background-secondary: #F4F4F4 !default;
$background-footer: #f3f6ff !default;
$primary-color: #5A45FF !default;
$secondary-color: #11c4cc !default;
// $accent-color: !default;
$highlight: #00D9E2 !default;
$error: red !default;
$success: $secondary-color !default;
$border: #3C3C3C !default;
$shadow: #DCDCDC !default;

$black: #000000 !default;

/* -----------------
* Typography
----------------- */ 

// Body
$font-size: 1rem !default;
$font-style: normal !default;
$font-variant: normal !default;
$font-weight: normal !default;
$font-color: #3C3C3C !default;
$body-link-color: $font-color !default;
// $body-link-hover-color: scale($font-color, $50%) !default;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !default;
$line-height: 1.15 !default;
$small: 0.7 !default;

// Notes
$label-color: #B4B4B4 !default;
$note-color: #909090 !default;

// Headings
$heading-font-color: $font-color !default;
$heading-font-weight: 600 !default;
$heading-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !default;
$heading-line-height: 2 !default;

// heading font-size
$h1-sm: 1.7rem !default;
$h2-sm: 1.5rem !default;
$h3-sm: 1.3rem !default;
$h4-sm: 1.1rem !default;
$h5-sm: 1rem !default;
$h6-sm: 0.8rem !default;

$multiplier: 1.1 !default;
$h1: $h1-sm * $multiplier !default;
$h2: $h2-sm * $multiplier !default;
$h3: $h3-sm * $multiplier !default;
$h4: $h4-sm * $multiplier !default;
$h5: $h5-sm * $multiplier !default;
$h6: $h6-sm * $multiplier !default;

/* -----------------
* Spacing
----------------- */ 
$padding: 1rem !default;
$margin: 1rem !default;

/* -----------------
* Borders
----------------- */ 
$border-width: 1px !default;
$border-style: solid !default;
$border-color: $border !default;
$border-radius: .4rem !default;
$borders: $border-width $border-style $border-color !default;

/* -----------------
* Buttons
----------------- */ 
$button-background: #EBECF1 !default;
$button-active: $primary-color !default;
$button-color: #ffffff !default;
$button-font-weight: 600 !default;
$button-font-size: 1rem !default;
$button-border-style: solid !default;
$button-border-color: transparent !default;
$button-border-radius: $border-radius !default;
$button-disabled-color: $font-color !default;

// Accent buttons
// $accent-button-background: $secondary-color !default;
// $accent-button-background-hover: scale($accent-button-background, 10%) !default;
// $accent-button-color: #ffffff !default;
// $accent-button-color-hover: #ffffff !default;

// Muted buttons

// Round buttons

// inputs



/* -----------------
* Forms
----------------- */ 
// $input-background: #f3f6ff !default;
// $placeholder: scale($secondary-color, 20%) !default;
// $form-border: none !default;
// $form-border-hover: none !default;
// $form-border-focus: none !default;

/* -----------------
* Tables
----------------- */
