/* 
* Simple UI | MIT License 
*
* A simple front-end design toolkit built with Sass for developing
* mobile-first responsive, browser-consistent web apps. 
*
* Author: Milee Yu https://mileeyu.com
* Source/documentation: https://github.com/mileeme/simple
 */
/* -----------------------------------------------------------------
Configuration
----------------------------------------------------------------- */
/* 
* Variables
 */
/* -----------------------------------------------------------------
Containers
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Breakpoints
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Global colors
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Typography
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Spacing
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Borders
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Buttons
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Forms
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Tables
----------------------------------------------------------------- */
/* 
* Mixins
 */
/* -----------------------------------------------------------------
Breakpoints
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Container
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Toggle triangle
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Reset
----------------------------------------------------------------- */
/* 
* Reset
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

/* -----------------------------------------------------------------
Components 
----------------------------------------------------------------- */
/* 
* Components
 */
/* -----------------------------------------------------------------
Scaffolding
----------------------------------------------------------------- */
html {
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  background: #ffffff;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-weight: 400;
  font-family: -apple-system-headline, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 1.7rem;
}

@media (min-width: 48rem) {
  h1 {
    font-size: 1.87rem;
  }
}

h2 {
  font-size: 1.5rem;
}

@media (min-width: 48rem) {
  h2 {
    font-size: 1.65rem;
  }
}

h3 {
  font-size: 1.25rem;
}

@media (min-width: 48rem) {
  h3 {
    font-size: 1.375rem;
  }
}

h4 {
  font-size: 1.1rem;
}

@media (min-width: 48rem) {
  h4 {
    font-size: 1.21rem;
  }
}

h5 {
  font-size: 1rem;
}

@media (min-width: 48rem) {
  h5 {
    font-size: 1.1rem;
  }
}

h6 {
  font-size: 0.9rem;
}

@media (min-width: 48rem) {
  h6 {
    font-size: 0.99rem;
  }
}

p, ol, ul, dl, table {
  margin: 0 0 1rem 0;
}

ul li ul {
  margin-bottom: 0;
}

ol li ol {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

mark {
  padding: 0 0.2rem;
}

blockquote {
  margin: 0 0 1rem 0;
  padding: 0 1.5rem;
}

cite {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: right;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  height: 0;
  border-top: 1px solid;
}

/* -----------------------------------------------------------------
Helpers
----------------------------------------------------------------- */
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: block;
}

.clearfix:after {
  clear: both;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* -----------------------------------------------------------------
Containers
----------------------------------------------------------------- */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

@media (min-width: 48rem) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 62rem) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 75rem) {
  .container {
    max-width: 1140px;
  }
}

.container-form {
  margin: 1rem 0;
  padding: 3rem 0;
  background-color: #E1F7FF;
}

.container-results {
  padding: 3rem 0;
}

/* -----------------------------------------------------------------
Grid
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Layout
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Buttons
----------------------------------------------------------------- */
.response-button {
  cursor: pointer;
  padding: 1rem 1rem;
  margin: 1rem 0;
  background-color: gray;
}

.response-button:hover {
  border: 1px solid;
}

.response-button:active {
  background-color: yellow;
}

.button-active {
  background-color: yellow;
}

.button-disabled {
  display: block;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  background-color: #B2BFD6;
}

.button-show {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: #1A69F5;
}

.result-button--fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #B2BFD6;
  text-align: center;
  padding: 1rem 0;
}

/* -----------------------------------------------------------------
Forms
----------------------------------------------------------------- */
.election-description {
  padding: 3rem 0;
}

/* -----------------------------------------------------------------
Navigation
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
Tables
----------------------------------------------------------------- */
table {
  border-collapse: collapse;
}

/* -----------------------------------------------------------------
Questions
----------------------------------------------------------------- */
.background-false {
  background: gray;
}

.background-true {
  background: yellow;
}

.no-response {
  display: inline-block;
  width: 6rem;
  border-bottom: 2px solid;
  text-decoration: none;
}

.insert-response {
  overflow: hidden;
  text-decoration: underline;
}
