/* 
* Simple UI | MIT License 
*
* A simple front-end design toolkit built with Sass for developing
* mobile-first responsive, browser-consistent web apps. 
*
* Author: Milee Yu https://mileeyu.com
* Source/documentation: https://github.com/mileeme/simple
 */
/* -----------------
* Configs
----------------- */
/** 
* Variables
 */
/* -----------------
* Containers
----------------- */
/* -----------------
* Breakpoints
----------------- */
/* -----------------
* Global colors
----------------- */
/* -----------------
* Typography
----------------- */
/* -----------------
* Spacing
----------------- */
/* -----------------
* Borders
----------------- */
/* -----------------
* Buttons
----------------- */
/* -----------------
* Forms
----------------- */
/* -----------------
* Tables
----------------- */
/* 
* Mixins
 */
/* -----------------
* Containers
----------------- */
/* -----------------
* Breakpoints
----------------- */
/* -----------------
* Resets
----------------- */
/** 
* Normalize css, css reset and typography properties
* for browser compatibility and clean base for designers and developers
*/
/**
* 1 correct line height on all browsers
* 2 prevent adjustments of font size after orientation changes in iOS
 */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/** 
 * 1 remove margin in all browsers 
 * 2 render `main` element consistently in IE
 */
body {
  margin: 0;
  /* 1 */
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
  /* 2 */
  margin: 0;
  /* reset */
}

/**
 * 1 correct font size and margin on `h1` element within `section` and
 * `article` contexts in Chrome, Firefox, and Safari
 */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  /* 1 */
  font-size: inherit;
  /* reset */
  font-weight: inherit;
  /* reset */
}

/**
* 1 a dd correct box sizing in Firefox
* 2 show overflow in Edge and IE 
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/** 
* 1 correct inheritance and scaling of font size in all browsers
* 2 correct `em` font sizing in all browsers
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1rem;
}

/** 
* 1 remove the gray background on active links in IE 10
* resets
*/
a {
  background-color: transparent;
  /* 1 */
  text-decoration: none;
  /* reset */
  color: inherit;
  /* reset */
  cursor: pointer;
  /* reset */
}

/** 
* 1 remove bottom border in Chrome 57-
* 2 add correct text decoration in Chrome, Edge, IE, Opera, and Safari 
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/** 
* add correct font weight in Chrome, Edge, and Safari 
*/
b, strong {
  font-weight: bolder;
}

/** 
* 1 correct inheritance and scaling of font size in all browsers
* 2 correct `em` font sizing in all browsers
*/
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1rem;
  /* 2 */
}

small {
  font-size: 0.8rem;
}

/**
* prevent `sub` and `sup` elements from affecting line height in
* all browsers
*/
sub, sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.2rem;
}

sup {
  top: -0.4rem;
}

/** 
* remove border on images inside links in IE 10
*/
img {
  border-style: none;
}

/** 
* 1 change font styles in all browsers
* 2 remove margin in Firefox and Safari
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  background-color: transparent;
  /* reset */
  color: inherit;
  /* reset */
  border-width: 0;
  /* reset */
  border-color: none;
  /* reset */
  border-style: none;
  /* reset */
  border-image: none;
  /* reset */
  padding: 0;
  /* reset */
  cursor: pointer;
  /* reset */
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: none;
  /* reset */
  box-shadow: none;
  /* reset */
}

/** 
* show overflow in IE
* 1 show overflow in Edge
*/
button,
input {
  overflow: visible;
  /* 2 */
}

/**
* remove inheritance of text transform in Edge, Firefox, and IE
* 1 remove the inheritance of text transform in Firefox
*/
button,
select {
  text-transform: none;
  /* 1 */
}

/** 
* correct inability to style clickable types in iOS and Safari
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/** 
* remove inner border and padding in Firefox 
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input::-moz-focus-inner {
  border: 0;
  /* reset */
  padding: 0;
  /* reset */
  margin: 0;
  /* reset */
}

/** 
* 1 correct text wrapping in edge and IE
* correct color inheritance from `fieldset` elements in IE
* remove padding so developers are not caught out when they zero out
* `fieldset` elements in all browsers
*/
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
  color: inherit;
  /* 2 */
  padding: 0;
  /* 3 */
}

/** 
* add correct vertical alignment in Chrome, Firefox, and Opera
*/
progress {
  vertical-align: baseline;
}

/**
* remove default vertical scrollbar in IE 10+ 
*/
text-area {
  overflow: hidden;
}

/** 
* 1 add correct box sizing in IE 10
* 2 remove padding in IE 10 
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/** 
* correct cursor style of increment and decrement buttons in Chrome 
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/** 
* 1 correct appearance in Chrome and Safari 
* 2 correct outline style in Safari 
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/** 
* remove inner padding in Chrome and Safari on macOS
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/** 
* 1 correct inability to style clickable types in iOS and Safari 
* 2 change properties to `inherit` in Safari
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/** 
* add correct display in Edge, IE 10+ and Firefox 
*/
details {
  display: block;
}

/**
* add correct display on all browsers 
*/
summary {
  display: list-item;
}

/** 
* add correct display in IE 10+ 
*/
template {
  display: none;
}

/** 
* add correct display in IE 10 
*/
[hidden] {
  display: none;
}

/** 
* resets 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol, dd, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------
* Components
----------------- */
/**
* Components
 */
/* -----------------
* Scaffolding
----------------- */
html {
  font-size: 1rem;
  line-height: 1.15;
}

body {
  font: normal normal normal 1rem/1.15 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  color: #3C3C3C;
  background: #F4F4F4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.7rem;
}

@media (min-width: 48rem) {
  h1 {
    font-size: 1.87rem;
  }
}

h2 {
  font-size: 1.5rem;
}

@media (min-width: 48rem) {
  h2 {
    font-size: 1.65rem;
  }
}

h3 {
  font-size: 1.3rem;
}

@media (min-width: 48rem) {
  h3 {
    font-size: 1.43rem;
  }
}

h4 {
  font-size: 1.1rem;
}

@media (min-width: 48rem) {
  h4 {
    font-size: 1.21rem;
  }
}

h5 {
  font-size: 1rem;
}

@media (min-width: 48rem) {
  h5 {
    font-size: 1.1rem;
  }
}

h6 {
  font-size: 0.8rem;
  font-weight: 600;
  color: #3C3C3C;
  padding-bottom: 1rem;
}

@media (min-width: 48rem) {
  h6 {
    font-size: 0.88rem;
  }
}

.label {
  color: #B4B4B4;
  font-weight: 600;
}

mark {
  background: #00D9E2;
  padding: 0 0.2rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #3C3C3C;
}

/* -----------------
* Helpers
----------------- */
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: block;
}

.clearfix:after {
  clear: both;
}

.u-show {
  display: block;
}

.u-hide {
  display: none;
}

/* -----------------
* Containers
----------------- */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 48rem) {
  .container {
    max-width: 720px;
  }
}

/* -----------------
* Grids
----------------- */
/* -----------------
* Layout
----------------- */
/* -----------------
* Heading
----------------- */
.hero {
  display: block;
  margin-bottom: -6rem;
  padding: 9rem 2.5rem 15rem;
  background: rgba(0, 217, 226, 0.3);
}

.hero-heading {
  opacity: 0;
  -webkit-transform: translate3d(0.2rem, 1.5rem, -0.5rem);
  -moz-transform: translate3d(0.2rem, 1.5rem, -0.5rem);
  -o-transform: translate3d(0.2rem, 1.5rem, -0.5rem);
  transform: translate3d(0.2rem, 1.5rem, -0.5rem);
  -webkit-transition: opacity 0.4s ease-in, transform 0.4s 0.25s cubic-bezier(0, 0, 0.3, 1);
  -moz-transition: opacity 0.4s ease-in, transform 0.4s 0.25s cubic-bezier(0, 0, 0.3, 1);
  -o-transition: opacity 0.4s ease-in, transform 0.4s 0.25s cubic-bezier(0, 0, 0.3, 1);
  transition: opacity 0.4s ease-in, transform 0.4s 0.25s cubic-bezier(0, 0, 0.3, 1);
}

.is-heading-visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* -----------------
* Buttons
----------------- */
.section-result-button {
  text-align: center;
  padding: 2rem;
  margin: 1rem 0 1rem;
  background: #ffffff;
}

@media (min-width: 48rem) {
  .section-result-button {
    padding: 2rem 4rem;
  }
}

.is-disabled-button {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  background: #EBECF1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
  border-radius: 0.8rem;
}

.is-abled-button {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: normal;
  color: #000000;
  background: linear-gradient(98deg, #5A45FF, rgba(90, 69, 255, 0.5));
  border: 1px solid #5A45FF;
  border-radius: 0.8rem;
}

.button-ripple {
  position: absolute;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: ripple .6s linear infinite;
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: .3;
  }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
  }
}

.is-fixed-button {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3C3C3C;
  text-align: center;
  padding: 1rem 0;
}

/* -----------------
* Forms
----------------- */
/* -----------------
* Navigation
----------------- */
/* -----------------
* Footer
----------------- */
footer {
  background: #f3f6ff;
  padding: 2rem 0;
  height: 8rem;
  margin-top: auto;
}

/* -----------------
* Tables
----------------- */
.results-table {
  display: none;
}

@media (min-width: 48rem) {
  .results-table {
    display: block;
    padding: 2rem 4rem 4rem;
  }
}

table {
  border-spacing: 1rem;
}

/* -----------------
* Card
----------------- */
.card {
  margin: 1rem 0 0;
  background: #ffffff;
  border-top: 1px solid #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.08), 0 0 2px rgba(0, 0, 0, 0.12);
}

.card h3 {
  font-weight: normal;
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

.card h6 {
  padding-bottom: 0.5rem;
}

.card-question {
  padding: 2rem 2rem 2.2rem;
  background: #ffffff;
}

@media (min-width: 48rem) {
  .card-question {
    padding: 2rem 4rem 4rem;
    min-height: 10rem;
  }
}

.card-question h6 {
  color: #B4B4B4;
}

.card-response {
  padding: 0 2rem 2rem;
  background: #ffffff;
  cursor: pointer;
}

@media (min-width: 48rem) {
  .card-response {
    padding: 0 4rem 2rem;
  }
}

.candidate-response {
  padding: 1rem;
  margin: 0 0 0.6rem;
  color: #3C3C3C;
  background-color: #F4F4F4;
  -webkit-transition: background-color .25 ease-in;
  -moz-transition: background-color .25 ease-in;
  -o-transition: background-color .25 ease-in;
  transition: background-color .25 ease-in;
}

.candidate-response:hover, .candidate-response:active {
  background-color: rgba(244, 244, 244, 0.2);
}

.is-active-response {
  padding: 1rem;
  margin: 0 0 0.6rem;
  color: #3C3C3C;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: background-color 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: background-color 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: background-color 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.card-detail {
  display: block;
  position: relative;
  height: 0;
  z-index: -1;
  color: #909090;
  background: rgba(0, 0, 0, 0.05);
  -webkit-transform: translate3d(0rem, -18rem, -1rem);
  -moz-transform: translate3d(0rem, -18rem, -1rem);
  transform: translate3d(0rem, -18rem, -1rem);
}

.card-detail-section {
  padding: 2rem;
}

@media (min-width: 48rem) {
  .card-detail-section {
    padding: 2rem 4rem;
  }
}

.test {
  position: relative;
}

.is-visible {
  height: 100%;
  opacity: 1;
  -webkit-transform: translate3d(0rem, 0rem, 0rem);
  -moz-transform: translate3d(0rem, 0rem, 0rem);
  -o-transform: translate3d(0rem, 0rem, 0rem);
  transform: translate3d(0rem, 0rem, 0rem);
  -webkit-transition: opacity 0.1s, transform 0.3s cubic-bezier(0.6, 0.13, 0.01, 0.93);
  -moz-transition: opacity 0.1s, transform 0.3s cubic-bezier(0.6, 0.13, 0.01, 0.93);
  -o-transition: opacity 0.1s, transform 0.3s cubic-bezier(0.6, 0.13, 0.01, 0.93);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.6, 0.13, 0.01, 0.93);
}

.is-invisible {
  height: 0;
  opacity: 0;
  -webkit-transition: transform .2s ease-in;
  -moz-transition: transform .2s ease-in;
  -o-transition: transform .2s ease-in;
  transition: transform .2s ease-in;
}

/* -----------------
* Question
----------------- */
.is-no-response {
  display: inline-block;
  width: 6rem;
  border-bottom: 2px solid #3C3C3C;
  text-decoration: none;
}

.is-response {
  overflow: hidden;
  border-bottom: 3px solid #000000;
  padding-bottom: .125rem;
}

/* -----------------
* Result
----------------- */
#candidateName {
  color: #000000;
}

.result-heading {
  text-align: center;
  padding: 2rem;
}

@media (min-width: 48rem) {
  .result-heading {
    padding: 2rem 4rem;
  }
}

.result-candidate-profile {
  display: grid;
  padding: 1rem;
  margin: 1rem 0;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  text-align: center;
  font-weight: 600;
}

@media (min-width: 48rem) {
  .result-candidate-profile {
    padding: 2rem 4rem;
    grid-gap: 2rem;
  }
}

.result-blurb {
  margin: 1rem 3rem;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 50% 50% 1% 50%;
  background: rgba(0, 0, 0, 0.2);
}

@media (min-width: 48rem) {
  .result-blurb {
    margin: 2rem 4rem;
  }
}

.profile-img {
  width: 5.5rem;
  -moz-outline-radius: 5.5rem;
  padding: 2px;
  border-radius: 5.5rem;
  border: 4px solid transparent;
  opacity: 1;
}

.profile-detail {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.profile-detail-item {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  font-size: 0.6rem;
  font-weight: 200;
  color: #000000;
  padding: .25rem .75rem;
  margin: 0.17rem;
}

.is-profile-disabled {
  border: 4px solid rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}

.is-profile-active {
  border: 4px solid #000000;
}

.result-match {
  display: grid;
  margin: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.result-match-item {
  padding: 2rem;
}

.result-match-item:first-child {
  align-self: start;
  text-align: left;
}

.result-match-item:last-child {
  align-self: end;
  text-align: right;
}

.result-match-item .profile-img {
  width: 3rem;
  border-radius: 3rem;
  padding: 1px;
  border: 3px solid transparent;
}

/* -----------------
* Registration
----------------- */
.check-registration {
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  padding: 0 1rem;
}

.check-registration .registration-form {
  justify-self: center;
}

@media (min-width: 48rem) {
  .check-registration .registration-form {
    max-width: 28rem;
  }
}

#registrationInput {
  background-position: 0.65rem 0.75rem;
  background-repeat: no-repeat;
  background-color: #EBECF1;
  width: 100%;
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

#registrationUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#registrationUL li {
  text-align: center;
}

#registrationUL li a {
  border: 1px solid transparent;
  margin-bottom: 1px;
  background-color: #EBECF1;
  padding: 1rem;
  text-decoration: none;
  color: #3C3C3C;
  display: block;
}

#registrationUL li a:hover {
  color: #000000;
  border: 1px solid #000000;
}

.add-margin {
  margin: 1rem 0;
}

/*
* HELP SLIDER 
*/
/* -----------------
* Carousel
----------------- */
/* -----------------
* Carousel v.2
----------------- */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  width: 22rem;
  height: 20rem;
  background: #ffffff;
}

@media (min-width: 48rem) {
  .wrapper {
    width: 35rem;
    height: 20rem;
  }
}

.slides {
  display: flex;
  position: relative;
  left: 0;
  height: 100%;
  background: #ffffff;
}

.slides.shifting {
  -webkit-transition: left .175s ease-in;
  -moz-transition: left .175s ease-in;
  -o-transition: left .175s ease-in;
  transition: left .175s ease-in;
}

.slide {
  text-align: left;
  min-width: 22rem;
  cursor: pointer;
  position: relative;
  background: #ffffff;
  padding: 1rem;
}

.slide h3 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.15;
}

@media (min-width: 48rem) {
  .slide h3 {
    line-height: 2;
  }
}

.slide .is-no-response {
  display: inline-block;
  width: 6rem;
  border-bottom: 1px solid #3C3C3C;
  text-decoration: none;
}

.slide .is-response {
  overflow: hidden;
  border-bottom: 1px solid #000000;
  padding-bottom: .125rem;
}

@media (min-width: 48rem) {
  .slide {
    min-width: 35rem;
  }
}

.slide-question {
  padding: 1rem;
}

.control {
  display: none;
}

@media (min-width: 48rem) {
  .control {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 50%;
    /* change based on screen size */
    width: 50px;
    height: 3rem;
    background: transparent;
    z-index: 2;
    opacity: .2;
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .25s ease-in-out, transform .25s ease-in;
    -moz-transition: opacity .25s ease-in-out, transform .25s ease-in;
    -o-transition: opacity .25s ease-in-out, transform .25s ease-in;
    transition: opacity .25s ease-in-out, transform .25s ease-in;
  }
  .control:hover {
    opacity: 1;
    -webkit-transform: translateY(-50%) scale(1.5, 1.5);
    -moz-transform: translateY(-50%) scale(1.5, 1.5);
    -o-transform: translateY(-50%) scale(1.5, 1.5);
    transform: translateY(-50%) scale(1.5, 1.5);
  }
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: 0px;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: 0px;
}
