/**
* Components
 */

/* -----------------
* Scaffolding
----------------- */
html {
    font-size: $font-size;
    line-height: $line-height;
}
body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $font-color;
    background-color: $background;
    // @include screen(md) {
    //     background-color: $background;
    // }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
}

h1 {
    font-size: $h1-sm;
    @include screen(md) {
        font-size: $h1;
    }
}
h2 {
    font-size: $h2-sm;
    @include screen(md) {
        font-size: $h2;
    }
}
h3 {
    font-size: $h3-sm;
    @include screen(md) {
        font-size: $h3;
    }
}
h4 {
    font-size: $h4-sm;
    @include screen(md) {
        font-size: $h4;
    }
}
h5 {
    font-size: $h5-sm;
    @include screen(md) {
        font-size: $h5;
    }
}
// main label
h6 {
    font-size: $h6-sm;
    padding-bottom: 1rem;
    @include screen(md) {
        font-size: $h6;
    }
}
.label {
    $font-size: $h6-sm;
    color: $label-color;
    font-weight: $heading-font-weight;
}

// highlight
mark {
    background: $highlight;
    padding: 0 0.2rem;
}

hr {
    margin-top: 2rem;
    margin-bottom: $margin;
    border: 0;
    border-top: $borders;
}

/* -----------------
* Helpers
----------------- */
.clearfix::before,
 .clearfix::after {
     content: ' ';
     display: block;
 }

 .clearfix:after {
     clear: both;
 }

 .u-show {
     display: block;
 }

 .u-hide {
     display: none;
 }


/* -----------------
* Containers
----------------- */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include screen(md) {
        @include container(md);
    }
}
.privacy-container {
    background: $background;
    padding: 4rem 2rem;
    @include screen(md) {
        padding: 4rem 4rem;
        margin-bottom: 2rem;
    }
    h1 {
        margin-bottom: 2rem;
    }
    h3 {
        padding-bottom: 1rem;
        margin-top: 2rem;
    }
    p {
        margin: 0 0 0.7rem;
    }
    ul {
        list-style-type: circle;
        list-style-position: outside;
        margin: 0 0 0.7rem;
        li {
            margin-left: 2rem;
            padding-left: 0.5rem;
        }
    }
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include screen(md) {
        padding: 0 4rem;
    }
}
/* -----------------
* Grids
----------------- */



/* -----------------
* Layout
----------------- */
.announcement {
    padding: 0.7rem 2rem;
    color: $background-secondary;
    background-color: $black;
    font-size: $font-size * $small;
    font-weight: 500;
}
.header {
    padding: 2rem;
    font-size: $font-size * $small;
    font-weight: 800;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include screen(md) {
        padding: 0 4rem;
    }
}
.counter {
    padding: .3rem 1rem;
    background-color: transparentize($background, 0.75);
    border-radius: 50px;
    color: $primary-color;
    font-weight: 400;
}
.about {
    display: block;
    margin-top: -7rem;
    color: #425466;
    // margin-bottom: 4rem;
    padding: 10rem 2rem 6rem;
    background-color: $secondary-color;
    background: linear-gradient(180deg, transparentize($primary-color, 0.7), $background);
    background-size: 100% 100%;
    h4 {
        font-weight: 400;
        line-height: 1.4;
        font-size: 1.3rem;
        @include screen(md) {
            font-size: 1.4rem;
        }
    }
    .about-hero {
        @include screen(md) {
            padding: 0 4rem;
        }
    }
}
.about-body {
    padding: 3rem 2rem 5rem;
    // background: $background;
    // margin-bottom: 3rem;
    @include screen(md) {
        padding: 3rem 4rem 5rem;
    }
    h1, h5 {
        padding-bottom: 1.5rem;
    }
    .icon-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:1rem;
        @include screen(md) {
            padding-top: 0;
        }
        svg {
            fill: $font-color;
            margin-right: 1rem;
            width: 2.5rem;
            &:hover, &:active {
                fill: $primary-color;
            }
        }
    }
}

.partner-container {
    display: grid;
    grid-gap: 1rem;
    padding: 3rem 1rem 2rem;
    border: $borders;
    border-radius: 1rem;
    @include screen(md) {
        grid-template-columns: repeat(2, 1fr);
    }
    a {
        text-decoration: underline;
        &:hover, &:active {
            color: $primary-color;
        }
    }
}

.partner-item-one {
    align-self: center;
    justify-self: center;
}

/* -----------------
* Heading
----------------- */
.logo {
    font-size: $h6-sm;
    svg {
        fill: $primary-color;
        width: 4rem;
    }
}
.hero {
    display: block;
    margin-top: -7rem;
    margin-bottom: -4rem;
    // padding-bottom: 6rem;
    padding: 12rem 2rem 1rem;
    background-color: $secondary-color;
    // background: radial-gradient(ellipse at top, #8d45ff38, #fdffffcc), 
    //             radial-gradient(ellipse at bottom, #f0e9fd, #ffffff);
    // background-size: 100% 100%;
    // -webkit-animation: heroGradient 10s ease infinite;
    // -moz-animation: heroGradient 10s ease infinite;
    // -o-animation: heroGradient 10s ease infinite;
    // animation: heroGradient 10s ease infinite;
}

// @-webkit-keyframes heroGradient {
//     0% {background-position: 50% 0%}
//     50% {background-position: 75% 50%}
//     50% {background-position: 50% 0%}
// }
// @-moz-keyframes heroGradient {
//     0% {background-position: 50% 0%}
//     50% {background-position: 75% 50%}
//     100% {background-position: 50% 0%}
// }
// @-o-keyframes heroGradient {
//     0% {background-position: 50% 0%}
//     50% {background-position: 75% 100%}
//     100% {background-position: 50% 0%}
// }
// @keyframes heroGradient {
//     0% {background-position: 50% 0%}
//     50% {background-position: 75% 100%}
//     100% {background-position: 50% 0%}
// }

.hero-heading {
    padding: 0 0 4rem 1rem;
    @include screen(md) {
        padding: 0 4rem 8rem;
    }
    h1 {
        // background: -webkit-linear-gradient($primary-color, #281b96);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        color: $background;
        // text-shadow: transparentize($color: $background, $amount: 0.5) 0px 0px 2px;
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: -0.065rem;
        @include screen(md) {
            font-size: 3.3rem;
        }
    }
    h6 {
        color: #271645;
        // line-height: 1.4;
        font-weight: 600;
        font-size: 0.7rem;
        @include screen(md) {
            font-size: 1rem;
        }
    }
}
.trump-biden {
    fill: #font-color;
    margin: -4rem 1rem -1rem 0rem;
    width: 85%;
    @include screen(md) {
        margin: -3rem 0 -4rem;
    }
}

.is-heading-visible {
    -webkit-animation: moveHeroHeading 10s ease infinite;
    -moz-animation: moveHeroHeading 10s ease infinite;
    -o-animation: moveHeroHeading 10s ease infinite;
    animation: moveHeroHeading 10s ease infinite;
}

.sharethis {
    display: flex;
    flex-direction: row;
    padding: 1rem 1.5rem 3rem;
    // padding: 6rem 0rem 3rem;
    // justify-content: space-between;
    align-items: center;
    cursor: pointer;
    // @include screen(md) {
    //     padding: 6rem 4rem 3rem;
    // }
    svg {
        width: 1.8rem;
        // fill: rgba(243, 207, 255, 0.75);
        fill: $font-color;
        &:hover, &:active {
            // fill: rgb(220, 113, 255);
            fill: $primary-color;
        }
    }
}
.st-custom-button {
    padding-right: 1rem;
}
.st-custom-button[data-network="twitter"] {
    padding-left: 0.8rem;
}

/* -----------------
* Buttons
----------------- */
.section-result-button {
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    letter-spacing: $button-letter-spacing;
    text-align: center;
    padding: 2rem 1rem;
    margin: 1rem 0 1rem;
    background-image: url('https://vote2020.s3-us-west-1.amazonaws.com/static/img/polls/background_paper_wht_1400w.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include screen(md) {
        padding: 2rem 4rem;
    }
}
// result button
.is-disabled-button {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: $padding;
    // font-size: $h3-sm;
    // font-weight: normal;
    color: $button-disabled-font-color;
    background-color: $button-disabled-background-color;
    -moz-box-shadow:    inset 1px 1px 5px -1px rgba(0,0,0,0.08);
    -webkit-box-shadow: inset 1px 1px 5px -1px rgba(0,0,0,0.08);
    box-shadow:         inset 1px 1px 5px -1px rgba(0,0,0,0.08);
    pointer-events: none;
    border-radius: $button-border-radius;
}
.is-abled-button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: $padding;
    // font-size: $h3-sm;
    // font-weight: normal;
    color: $background;
    background-color: $button-background-color;
    border-radius: $button-border-radius;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1), 
                1px 1px 2px rgba(0,0,0,0.2);
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}
.button-ripple {
   position: absolute; 
    background: $background;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   pointer-events: none;
   border-radius: 50%;
   -webkit-animation: ripple .8s linear;
   -moz-animation: ripple .8s linear;
   -o-animation: ripple .8s linear;
   animation: ripple .8s linear;
}

@-webkit-keyframes ripple {
    0% {
        width: 0px;
        height: 0px;
        // transform: scale(0);
        opacity: .25;
    }
    100% {
        width: 1000px;
        height: 1000px;
        // transform: scale(2);
        opacity: 0;
    }
}
@-moz-keyframes ripple {
    0% {
        width: 0px;
        height: 0px;
        // transform: scale(0);
        opacity: .25;
    }
    100% {
        width: 1000px;
        height: 1000px;
        // transform: scale(2);
        opacity: 0;
    }
}
@-o-keyframes ripple {
    0% {
        width: 0px;
        height: 0px;
        // transform: scale(0);
        opacity: .25;
    }
    100% {
        width: 1000px;
        height: 1000px;
        // transform: scale(2);
        opacity: 0;
    }
}
@keyframes ripple {
    0% {
        width: 0px;
        height: 0px;
        // transform: scale(0);
        opacity: .25;
    }
    100% {
        width: 1000px;
        height: 1000px;
        // transform: scale(2);
        opacity: 0;
    }
}



.is-fixed-button {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $button-disabled-background-color;
    text-align: center;
    padding: 1rem 0;
}

/* -----------------
* Forms
----------------- */



/* -----------------
* Navigation
----------------- */


/* -----------------
* Footer
----------------- */
footer {
    background: #5042c3;
    // background: #6138b3;
    padding: 2rem;
    margin-top: auto;
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: $note-color;
        a {
            font-size: $font-size * $small;
            text-decoration: underline;
            padding-right: 1.5rem;
            &:hover, &:active {
                color: $primary-color;
            }
        }
        @include screen(md) {
            padding: 2rem 4rem;
        }
    }
}

/* -----------------
* Tables
----------------- */ 
.results-table {
    display: block;
    @include screen(md) {
        padding: 2rem 4rem 4rem;
    }
}
table {
    border-spacing: $padding;
}



/* -----------------
* Card
----------------- */ 
.card {
    margin: 2rem 0 0;
    background: $background;
    background-image: url('https://vote2020.s3-us-west-1.amazonaws.com/static/img/polls/background_paper_wht_1400w.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 1px solid $background;
    box-shadow: 0 5px 20px -20px rgba(0, 0, 0, 0.19), 
                0 10px 20px -10px rgba(0, 0, 0, 0.18);
    @include screen(md) {
        box-shadow: 0 0 0 0 transparent,
                    0 0 0 0 transparent;
    }
    h3 {
        font-weight: normal;
        -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
        -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
        -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
        -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
        transition: width 1s ease-in-out, left 1.5s ease-in-out;
    }
}
.card-question {
    z-index: 1;
    padding: 4rem 2rem;
    // background: $background;
    @include screen(md) {
        padding: 2rem 4rem 4rem;
        min-height: 10rem;
    }
    h6 {
        color: $primary-color;
        // padding-bottom: 0.5rem;
    }
    p {
        font-weight: 500;
    }
}
.card-question-sponsor {
    margin-left: 1rem;
    width: 4.3rem;
}
.card-response {
    z-index: 1;
    padding: 0 2rem 4rem;
    border-bottom: 1px $border-style $background-secondary;
    font-weight: 400;
    cursor: pointer;
    @include screen(md) {
        padding: 0 4rem 4rem;
    }
}
.candidate-response {
    padding: 1rem;
    margin: 0 0 0.6rem;
    border-radius: $button-border-radius;
    color: $font-color;
    background-color: transparentize($color: rgb(214, 214, 214), $amount: 0.75);
    -moz-box-shadow:    inset 1px 1px 5px -1px rgba(0,0,0,0.08);
    -webkit-box-shadow: inset 1px 1px 5px -1px rgba(0,0,0,0.08);
    box-shadow:         inset 1px 1px 5px -1px rgba(0,0,0,0.08);
    -webkit-transition: background-color .25 ease-in;
    -moz-transition: background-color .25 ease-in;
    -o-transition: background-color .25 ease-in;
    transition: background-color .25 ease-in;
    // &:hover,
    // &:active {
    //     background-color: $background-secondary;
    // }
}
.is-active-response {
    opacity: 1;
    padding: 1rem;
    margin: 0 0 0.6rem;
    border-radius: $button-border-radius;
    color: $font-color;
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1), 
                1px 1px 3px 0px rgba(0,0,0,0.02);
    background: rgb(90,69,255);
    background: linear-gradient(100deg, #a09aff26, #aea4ff26);    
}
.card-detail {
    display: block;
    position: relative;
    height: 0;
    color: $font-color;
    background-image: url('https://vote2020.s3-us-west-1.amazonaws.com/static/img/polls/background_paper_gry_1400w.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: translateY(-18rem);
    -moz-transform: translateY(-18rem);
    -o-transform: translateY(-18rem);
    transform: translateY(-18rem);
}
.card-detail-section {
    padding: 4rem 2rem;
    font-size: $footnote-size;
    @include screen(md) {
        padding: 2rem 4rem;
    }
    h6 {
        font-size: $footnote-size;
        padding-bottom: 0.6rem;
    }
    a {
        text-decoration: underline;
    }
}
.is-invisible { 
    z-index: -1;
    height: 0;
    opacity: 0;
    -webkit-transition: transform .2s ease-in;
    -moz-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
}
.is-visible {
    height: 100%;
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -o-transform: translateY(0rem);
    transform: translateY(0rem);
    -webkit-transition: transform .4s cubic-bezier(0.6, 0.13, 0.01, 0.93);
    -moz-transition: transform .4s cubic-bezier(0.6, 0.13, 0.01, 0.93);
    -o-transition: transform .4s cubic-bezier(0.6, 0.13, 0.01, 0.93);
    transition: transform .4s cubic-bezier(0.6, 0.13, 0.01, 0.93); 
    -webkit-animation: detailVisible .8s cubic-bezier(0.34, 0.29, 0.6, 0.7);  
    -moz-animation: detailVisible .8s cubic-bezier(0.34, 0.29, 0.6, 0.7);  
    -o-animation: detailVisible .8s cubic-bezier(0.34, 0.29, 0.6, 0.7);  
    animation: detailVisible .8s cubic-bezier(0.34, 0.29, 0.6, 0.7);  
}
@-webkit-keyframes detailVisible {
    0% {
        z-index: -1;
        opacity: 0;
    }
    100% {
        z-index: 1;
        opacity: 1;
    }
}
@-moz-keyframes detailVisible {
    0% {
        z-index: -1;
        opacity: 0;
    }
    100% {
        z-index: 1;
        opacity: 1;
    }
}
@-o-keyframes detailVisible {
    0% {
        z-index: -1;
        opacity: 0;
    }
    100% {
        z-index: 1;
        opacity: 1;
    }
}
@keyframes detailVisible {
    0% {
        z-index: -1;
        opacity: 0;
    }
    100% {
        z-index: 1;
        opacity: 1;
    }
}

/* -----------------
* Question
----------------- */ 

.is-no-response {
    display: inline-block;
    width: 6rem;
    border-bottom: 2px $border-style $font-color;
    text-decoration: none;
}

.is-response {
    overflow: hidden;
    color: $font-color;
    font-weight: 800;
}

/* -----------------
* Result
----------------- */ 
#candidateName {
    color: $black;
}
.divider {
    border-top: 1px $border-style transparentize($color: $border, $amount: 0.8);
}
.is-results-hide {
    position: relative;
    max-height: 0px;
    overflow: hidden;
}
.is-results-show {
    position: relative;
    animation: showPoll .4s cubic-bezier(0.29, 0.24, 1, 0.19);
}
@keyframes showPoll {
    0% {
        opacity: 0;
        max-height: 0;
    }
    50% {
        opacity: 0;
        max-height: var(max-height);
    }
    100% {
        opacity: 1;
    }
}
.result-heading {
    text-align: center;
    // margin: $margin 0;
    padding: 2rem;
    @include screen(md) {
        padding: 2rem 4rem;
    }
    .candidate-winner {
        color: $primary-color;
    }
}

// candidate profile card
.card-candidate-profile {
    margin: $margin;
    padding: 1.5rem;
    background-image: url('https://vote2020.s3-us-west-1.amazonaws.com/static/img/polls/background_paper_wht_1400w.png');
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
    border-radius: 20px 20px 0px 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.19), 
                0 4px 6px -1px rgba(0, 0, 0, 0.18);
    @include screen(md) {
        grid-column-gap: 4rem;
        grid-rop-gap: 2rem;
        margin: 1rem 0;
    }
    .profile-h3 {
        line-height: 2rem;
        margin-bottom: 0.4rem;
    }
    .profile-p {
        font-size: $font-size * $small;
        font-weight: 500;
    }
    .profile-left {
        display: grid;
        text-align: center;
        grid-gap: 1.2rem;
        align-content: start;
        justify-content: center;
    }
    .profile-row {
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
        padding: 2.5rem 0;
        border-top: 1px $border-style transparentize($color: $primary-color, $amount: 0.8);
    }
    .profile-quote {
        ul {
            padding: 1rem 0 0;
        }
        @include screen(md) {
            padding: 2rem 4rem;
        }
    }
    .profile-squad {
        margin-top: $margin;
        ul {
        list-style: none;
        display: flex;
        }
        li {
            font-size: $font-size * $small;
            text-align: center;
            margin: 0.2rem 0.1rem;
            padding: 0.2rem;
            line-height: 1.4;
        }
        .profile-squad-img {
            width: 2.7rem;
            border-radius: 0.625rem; 
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.19), 
                        0 4px 6px -1px rgba(0, 0, 0, 0.18);
        }
    }
    .profile-match {
        color: $primary-color;
        font-weight: 500;
    }
    .profile-button {
        display: block;
        text-align: center;
        font-size: $font-size * $small;
        font-weight: 500;
        padding-top: 0.4rem;
        padding-bottom: 0.5rem;
        padding-left: auto;
        padding-right: auto;
        width: 100%;
        background-color: $button-background-color;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1), 
                    1px 1px 2px rgba(0,0,0,0.2);
        color: $button-color;
        border-radius: 20px;
        @include screen(md) {
            width: 100px;
        }
    }
}

.profile-img {
    width: 5.5rem;
    // outline: 4px $border-style transparent; 
    -moz-outline-radius: 5.5rem;
    padding: 2px;
    border-radius: 5.5rem;
    border: 4px $border-style transparent;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.19), 
                0 4px 6px -1px rgba(0, 0, 0, 0.18);
    opacity: 1;
}

.is-profile-disabled {
    // outline: 4px $border-style transparentize($secondary-color, 0.8); 
    border: 3px $border-style transparentize($black, 0.8);
    opacity: 0.7;
}
.is-profile-active {
    // outline: 4px $border-style $secondary-color; 
    border: 3px $border-style $primary-color;
}


/* -----------------
* Slider
----------------- */ 
.slider-heading {
    margin: 2rem $margin $margin;
    // text-align: center;
}
.slide-question {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    width: 100%;
    height: 100%;
    // color: $primary-color;
    background-image: url('https://vote2020.s3-us-west-1.amazonaws.com/static/img/polls/background_paper_gry_1400w.png');
    border-radius: 1rem;
    @include screen(md) {
        padding: 2rem 4rem;
    }
    p {
        // font-size: $font-size;
        // font-weight: $font-weight;
        line-height: $line-height;
        font-weight: 400;
    }
    .is-no-response {
        display: inline-block;
        width: 6rem;
        border-bottom: 1px $border-style $background;
        text-decoration: none;
    }
    .is-response {
        font-weight: 800;
    }
}

// /* allow controls only for non-touch displays */
.control {
    display: block;
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);
    // top: 50%; /* change based on screen size */
    width: 50px; 
    height: 3rem;
    background: transparent;
    z-index: 2;
    opacity: 1;
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
}
.prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    left: 0px;
}
.next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    right: 0px;
}

// .nav-dots-container {
//     display: flex;
//     height: 2.5rem;
//     font-size: $font-size;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
// }
// .nav-dot {
//     position: relative;
//     float: left;
//     width: 15px;
//     height: 15px;
//     border-radius: 50%;
//     margin: 5px;
//     background: lightgray;
// }
// .dot-active {
//     background-color: lightsalmon;
//     transition: background-color .2s ease-in-out;
// }


/* -----------------
* Registration
----------------- */
.registration-container {
    margin: 2rem 0;
    // padding: 2rem 2rem 4rem;
    // background: $background;
    @include screen(md) {
        padding: 0 4rem;
    }
}
.registration-heading {
    padding: 0rem 1rem 2rem;
    h5 {
        color: #cacaca;
        font-weight: 400;
    }
}
.registration-search-input {
    background-position: 0.65rem 0.75rem;
    background-repeat: no-repeat;
    // background-color: #5129a2;
    background-color: #4438a9;
    color: $background;
    -moz-box-shadow:    inset 1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: inset 1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow:         inset 1px 1px 3px -1px rgba(0,0,0,0.75);
    width: 100%;
    padding: .8rem 2rem;
    border-radius: 50px;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}
.registration-lists {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: scroll;
    height: 9.5rem;
    // border: 1px $border-style transparentize($color: $note-color, $amount: 0.7);
    border-radius: 0.4rem;
    overflow-x: hidden;
}
.registration-link {
    // border-bottom :1px solid #5c32b1;
    border-bottom :1px solid #5042c3;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    display: block;
    margin-bottom: .08rem;
    color: #6f6e6f;
    // background: #5129a2;
    background: #4438a9;
    overflow: hidden;
}
.registration-link:hover,
.registration-link:active,
.registration-link:focus {
    color: $primary-color;
    // background: transparentize($color: ($primary-color), $amount: 0.97);
}
::-webkit-scrollbar-track { 
    border: none;
    background: transparentize($color: $note-color, $amount: 0.8);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: $note-color;
    border-radius: 50px;
}


/* -----------------
* slider v2
----------------- */

.animate { transition: transform 0.3s ease-out; }

.slider-wrap {
    width: 22rem;
    //   height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    @include screen(md) {
        width: 45rem;
    }
}
// same as slides-wrapper
.slider {
    width: 22rem;
    height: 27rem;
    overflow: hidden;
    @include screen(md) {
        width: 45rem;
    }
}
// same as slides 
.holder {
    width: 1000%; // whatever max width of all the slides
    height: 100%;
}
// same as slide 
.slide-wrapper {
    width: 22rem;
    height: 27rem;
    float: left;
    position: relative;
    overflow: hidden;
    text-align: left;
    padding: .1rem;
    @include screen(md) {
        width: 45rem;
    }
}