{% extends 'base.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block body %}


    
<!-- intro -->
<div class="about">
    <div class="container about-hero">
        <h4>In every dark hour of our national life a leadership of frankness and of vigor has met with that understanding and
        support of the people themselves which is essential to victory. And I am convinced that you will again give that support to leadership in these critical days.</h4>
        <br>
        <p>— Franklin D. Roosevelt</p>
    </div>
</div>

<div class="container">
    <div class="about-body">
        <h1>Our mission</h1>
        <p>Vote2020 is non-partisan and our goal is to present clarity through fact-based research of where each candidate stand on the issues Americans care about. In doing so, we hope to empower people to vote with confidence in the upcoming 2020 Presidential Election.</p>
    </div>
    <div class="about-body">
        <h2>Contact us</h2>
        <p>If you have questions, please contact us: vote2020@gmail.com</p>
    </div>
</div>
{% endblock %}