{% extends 'base.html' %}
{% block title %}2020 Candidate Info{% endblock %}
{% block body %}
<div class="container">
    <!-- poll -->
    <h1>questions</h1>

    <!-- get question -->
    {% for question in question_list %}
    <form method="post" action="#">

        <div id="poll">
            
            <!-- question title -->
            <h3>{{ question.number }} / {{ question|safe }}</h3>
            
            {% for response in response_list %}
            <!-- get response that matches question_id -->
            {% if question.number == response.response_id %}
            <!-- response -->
            <div id="responses">
                <input id="candidate-{{ response.candidate_id }}" class="please" type="radio" name="candidate-response" value="{{ response.response }}">
                <label for="candidate-{{ response.candidate_id }}">{{ response.response_id }} / {{ response.candidate_id }} {{ response.candidate.l_name }}: {{ response.response }}</label>

                <!-- detail -->
                <div class="reveal-if-active">
                    {{ response.description }}
                </div>

            </div>
            {% endif %}
            {% endfor %}
        </div>

    </form>
    {% endfor %}

    <!-- total count -->
    {% for candidate in candidate_list %}
    <p>{{ candidate.l_name }}: <span id="candidate{{ candidate.id }}"></span></p>
    <!-- <p>biden: <span id="candidateA"></span></p> -->
    {% endfor %}
</div>

{% endblock %}