{% extends 'base.html' %}
{% block title %}2020 Candidate Info{% endblock %}
{% block body %}
<div class="container">
    
    <!-- poll -->
    {% for election in election_list %}
    <div>
        <h1>{{ election.name }}</h1>

        <!-- get questions -->
        {% for question in question_list %}
        <form method="post" action="#">

            <div id="poll">
                
                <!-- question title -->
                <h3 id="question" data-id="{{ question.number }}">{{ question.number }} / {{ question|safe }}</h3>
                <!-- get responses that matches question_id -->
                {% for response in response_list %}
                {% if question.number == response.response_id %}
                <!-- response -->
                <div id="responses">
                    <input id="candidate-{{ response.candidate_id }}" type="radio" name="candidate-response" value="{{ response.response }}" data-response="{{ response.response_id }}" data-candidate="{{ response.candidate_id }}">
                    <label for="candidate-{{ response.candidate_id }}">{{ response.response }}</label>
                </div>
                {% endif %}
                {% endfor %}

                <!-- response detail -->
                {% for response in response_list %}
                {% if question.number == response.response_id %}
                <div>
                    <p id="responseDetail" class="hide" data-response="{{ response.response_id }}" data-candidate="{{ response.candidate_id }}">More deets: {{ response.description }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </form>
        {% endfor %}

        <hr>

        <!-- total tally -->
        <p>total questions: <span id="counter">0</span></p>
        {% for candidate in candidate_list %}
        <p><span id="candidate{{ candidate.id }}">0</span> / Your values are <span id="percentage{{ candidate.id }}">0</span>% compatible with {{ candidate.l_name }}</p>
        {% endfor %}
    </div>

    <hr>

<!-- table of results -->
<table style="border: 1px solid #ccc;padding: 20px;">
        <thead>
            <th></th>
            {% for candidate in candidate_list %}
            {% if election.id == candidate.election_id %}
            <th>{{ candidate.f_name }} {{ candidate.l_name }}</th>
            {% endif %}
            {% endfor %}
        </thead>
        <tbody>
            {% for question in question_list %}
            <tr id="tableRow" data-question="{{ question.number }}">
                <td>{{ question|safe }}</td>
                {% for response in response_list %}
                {% if question.number == response.response_id %}
                <td id="tableColumn" class="" data-response="{{ response.response_id }}" data-candidate="{{ response.candidate_id }}">{{ response.response_id }} / {{ response.response }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endfor %}
</div>
{% endblock %}