{% extends 'base.html' %}
{% block title %}2020 Candidate Info{% endblock %}

{% block body %}
<div class="container">
    <!-- poll -->
    <h1>questions</h1>

    {% for question in question_list %}
    <form>
        <h3>{{ question.number }} / {{ question }}</h3>
        {% for response in response_list %}
        {% if question.number == response.response_id %}
            <label class="radio-inline" for="{{ response.candidate_id }}"><input type="radio" name="{{ response.question_id }}" id="{{ response.candidate_id }}">{{ response.candidate.l_name }}: {{ response.response }} / {{ response.description }}</label>
        {% endif %}
        {% endfor %}
    </form>
    {% endfor %}
    <p>biden: <span id="candidateA"></span></p>
    <p>trump: <span id="candidateB"></span></p>
</div>

<script>
    let countOne = function () {
        let n = $('input[id="1"]:checked').length;
        $('#candidateA').text(n);
    }
    countOne();
    $('input[type=radio]').on('click', countOne);

    let counterTwo = function () {
            let n = $('input[id="2"]:checked').length;
            $('#candidateB').text(n);
        }
        counterTwo();
        $('input[type=radio]').on('click', counterTwo);

</script>
{% endblock %}