<!-- check registration -->
<!-- <div class="registration-container">
    <div class="slider-heading">
        <h5>Check my voter registration status</h5>
    </div>
    <input type="text" id="registrationInput" class="registration-search-input" placeholder="Search by state"
        onkeyup="registration()">

    <ul id="registrationUL" class="registration-lists">
        {% for registration in registration_list %}
        <li id="registrationState">
            <a id="registrationLink" class='registration-link' href="{{ registration.check_url }}"
                target="_blank">{{ registration.state }}</a>
        </li>
        {% endfor %}
    </ul>
</div> -->
