/* 
* Simple UI | MIT License 
*
* A simple front-end design toolkit built with Sass for developing
* mobile-first responsive, browser-consistent web apps. 
*
* Author: Milee Yu https://mileeyu.com
* Source/documentation: https://github.com/mileeme/simple
 */
/* -----------------
* Configs
----------------- */
/** 
* Variables
 */
/* -----------------
* Containers
----------------- */
/* -----------------
* Breakpoints
----------------- */
/* -----------------
* Global colors
----------------- */
/* -----------------
* Typography
----------------- */
/* -----------------
* Spacing
----------------- */
/* -----------------
* Borders
----------------- */
/* -----------------
* Buttons
----------------- */
/* -----------------
* Forms
----------------- */
/* -----------------
* Tables
----------------- */
/* 
* Mixins
 */
/* -----------------
* Containers
----------------- */
/* -----------------
* Breakpoints
----------------- */
/* -----------------
* Resets
----------------- */
/** 
* Normalize css, css reset and typography properties
* for browser compatibility and clean base for designers and developers
*/
/**
* 1 correct line height on all browsers
* 2 prevent adjustments of font size after orientation changes in iOS
 */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/** 
 * 1 remove margin in all browsers 
 * 2 render `main` element consistently in IE
 */
body {
  margin: 0;
  /* 1 */
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
  /* 2 */
  margin: 0;
  /* reset */
}

/**
 * 1 correct font size and margin on `h1` element within `section` and
 * `article` contexts in Chrome, Firefox, and Safari
 */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  /* 1 */
  font-size: inherit;
  /* reset */
  font-weight: inherit;
  /* reset */
}

/**
* 1 a dd correct box sizing in Firefox
* 2 show overflow in Edge and IE 
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/** 
* 1 correct inheritance and scaling of font size in all browsers
* 2 correct `em` font sizing in all browsers
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 16px;
}

/** 
* 1 remove the gray background on active links in IE 10
* resets
*/
a {
  background-color: transparent;
  /* 1 */
  text-decoration: none;
  /* reset */
  color: inherit;
  /* reset */
  cursor: pointer;
  /* reset */
  -webkit-tap-highlight-color: transparent;
  /* reset */
}

/** 
* 1 remove bottom border in Chrome 57-
* 2 add correct text decoration in Chrome, Edge, IE, Opera, and Safari 
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/** 
* add correct font weight in Chrome, Edge, and Safari 
*/
b, strong {
  font-weight: bolder;
}

/** 
* 1 correct inheritance and scaling of font size in all browsers
* 2 correct `em` font sizing in all browsers
*/
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 16px;
  /* 2 */
}

small {
  font-size: 12.8px;
}

/**
* prevent `sub` and `sup` elements from affecting line height in
* all browsers
*/
sub, sup {
  font-size: 12px;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.2rem;
}

sup {
  top: -0.4rem;
}

/** 
* remove border on images inside links in IE 10
*/
img {
  border-style: none;
}

/** 
* 1 change font styles in all browsers
* 2 remove margin in Firefox and Safari
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  background-color: transparent;
  /* reset */
  color: inherit;
  /* reset */
  border-width: 0;
  /* reset */
  border-color: none;
  /* reset */
  border-style: none;
  /* reset */
  border-image: none;
  /* reset */
  padding: 0;
  /* reset */
  cursor: pointer;
  /* reset */
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: none;
  /* reset */
  box-shadow: none;
  /* reset */
}

/** 
* show overflow in IE
* 1 show overflow in Edge
*/
button,
input {
  overflow: visible;
  /* 2 */
}

/**
* remove inheritance of text transform in Edge, Firefox, and IE
* 1 remove the inheritance of text transform in Firefox
*/
button,
select {
  text-transform: none;
  /* 1 */
}

/** 
* correct inability to style clickable types in iOS and Safari
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/** 
* remove inner border and padding in Firefox 
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input::-moz-focus-inner {
  border: 0;
  /* reset */
  padding: 0;
  /* reset */
  margin: 0;
  /* reset */
}

/** 
* 1 correct text wrapping in edge and IE
* correct color inheritance from `fieldset` elements in IE
* remove padding so developers are not caught out when they zero out
* `fieldset` elements in all browsers
*/
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
  color: inherit;
  /* 2 */
  padding: 0;
  /* 3 */
}

/** 
* add correct vertical alignment in Chrome, Firefox, and Opera
*/
progress {
  vertical-align: baseline;
}

/**
* remove default vertical scrollbar in IE 10+ 
*/
text-area {
  overflow: hidden;
}

/** 
* 1 add correct box sizing in IE 10
* 2 remove padding in IE 10 
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/** 
* correct cursor style of increment and decrement buttons in Chrome 
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/** 
* 1 correct appearance in Chrome and Safari 
* 2 correct outline style in Safari 
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/** 
* remove inner padding in Chrome and Safari on macOS
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/** 
* 1 correct inability to style clickable types in iOS and Safari 
* 2 change properties to `inherit` in Safari
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/** 
* add correct display in Edge, IE 10+ and Firefox 
*/
details {
  display: block;
}

/**
* add correct display on all browsers 
*/
summary {
  display: list-item;
}

/** 
* add correct display in IE 10+ 
*/
template {
  display: none;
}

/** 
* add correct display in IE 10 
*/
[hidden] {
  display: none;
}

/** 
* resets 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol, dd, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------
* Components
----------------- */
/**
* Components
 */
/* -----------------
* Scaffolding
----------------- */
html {
  font-size: 16px;
  line-height: 1.6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: #425466;
  background-color: #eceef1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 48rem) {
  h1 {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 1.7rem;
}

@media (min-width: 48rem) {
  h2 {
    font-size: 1.87rem;
  }
}

h3 {
  font-size: 1.5rem;
}

@media (min-width: 48rem) {
  h3 {
    font-size: 1.65rem;
  }
}

h4 {
  font-size: 1.3rem;
}

@media (min-width: 48rem) {
  h4 {
    font-size: 1.43rem;
  }
}

h5 {
  font-size: 1.1rem;
}

@media (min-width: 48rem) {
  h5 {
    font-size: 1.21rem;
  }
}

h6 {
  font-size: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 48rem) {
  h6 {
    font-size: 1.1rem;
  }
}

.label {
  color: #B4B4B4;
  font-weight: 500;
}

mark {
  background: #00D9E2;
  padding: 0 0.2rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #CCCCCC;
}

/* -----------------
* Helpers
----------------- */
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: block;
}

.clearfix:after {
  clear: both;
}

.u-show {
  display: block;
}

.u-hide {
  display: none;
}

/* -----------------
* Containers
----------------- */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 48rem) {
  .container {
    max-width: 720px;
  }
}

.privacy-container {
  background: #ffffff;
  padding: 4rem 2rem;
}

@media (min-width: 48rem) {
  .privacy-container {
    padding: 4rem 4rem;
    margin-bottom: 2rem;
  }
}

.privacy-container h1 {
  margin-bottom: 2rem;
}

.privacy-container h3 {
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.privacy-container p {
  margin: 0 0 0.7rem;
}

.privacy-container ul {
  list-style-type: circle;
  list-style-position: outside;
  margin: 0 0 0.7rem;
}

.privacy-container ul li {
  margin-left: 2rem;
  padding-left: 0.5rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 48rem) {
  .header-container {
    padding: 0 4rem;
  }
}

/* -----------------
* Grids
----------------- */
/* -----------------
* Layout
----------------- */
.announcement {
  padding: 0.7rem 2rem;
  color: #eceef1;
  background-color: #000000;
  font-size: 12px;
  font-weight: 500;
}

.header {
  padding: 2rem;
  font-size: 12px;
  font-weight: 800;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 48rem) {
  .header-container {
    padding: 0 4rem;
  }
}

.counter {
  padding: .3rem 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
  color: #ffffff;
  font-weight: 400;
}

.about {
  display: block;
  margin-top: -7rem;
  color: #425466;
  padding: 10rem 2rem 6rem;
  background-color: #1de0bc;
  background: linear-gradient(190deg, rgba(109, 90, 255, 0.9), rgba(245, 245, 245, 0.9));
  background-size: 300% 100%;
}

.about h4 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.3rem;
}

@media (min-width: 48rem) {
  .about h4 {
    font-size: 1.4rem;
  }
}

@media (min-width: 48rem) {
  .about .about-hero {
    padding: 0 4rem;
  }
}

.about-body {
  padding: 5rem 2rem;
}

@media (min-width: 48rem) {
  .about-body {
    padding: 7rem 4rem;
  }
}

.about-body h1, .about-body h5 {
  padding-bottom: 1.5rem;
}

/* -----------------
* Heading
----------------- */
.logo {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1rem;
}

.hero {
  display: block;
  margin-top: -7rem;
  margin-bottom: -4rem;
  padding: 10rem 2rem 2rem;
  background-color: #1de0bc;
  background: linear-gradient(250deg, #25e1ff, #8f2ac3, #2b31ffc7);
  background-size: 140% 200%;
  -webkit-animation: heroGradient 10s ease infinite;
  -moz-animation: heroGradient 10s ease infinite;
  -o-animation: heroGradient 10s ease infinite;
  animation: heroGradient 10s ease infinite;
}

.hero h1 {
  font-size: 2.2rem;
}

@media (min-width: 48rem) {
  .hero h1 {
    font-size: 3.3rem;
  }
}

@-webkit-keyframes heroGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 75% 50%;
  }
  50% {
    background-position: 50% 0%;
  }
}

@-moz-keyframes heroGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@-o-keyframes heroGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes heroGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.hero-heading {
  padding: 0 0 8rem;
}

@media (min-width: 48rem) {
  .hero-heading {
    padding: 0 4rem 8rem;
  }
}

.hero-heading h1 {
  background: -webkit-linear-gradient(#e5a6fff5, #ffe7f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.hero-heading h6 {
  color: #cfaafff5;
  line-height: 1.4;
}

.sharethis {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.sharethis svg {
  width: 1.3rem;
  fill: #425466;
}

.sharethis svg:hover, .sharethis svg:active {
  fill: #5A45FF;
}

.st-custom-button[data-network="twitter"] {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.st-custom-button[data-network="facebook"] {
  padding-right: 0.8rem;
}

/* -----------------
* Buttons
----------------- */
.section-result-button {
  font-size: calc($font-size * 1.1);
  font-weight: 500;
  letter-spacing: -0.1px;
  text-align: center;
  padding: 2rem 1rem;
  margin: 1rem 0 1rem;
  background: #ffffff;
}

@media (min-width: 48rem) {
  .section-result-button {
    padding: 2rem 4rem;
  }
}

.is-disabled-button {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 1rem;
  color: rgba(90, 69, 255, 0.5);
  background-color: rgba(90, 69, 255, 0.1);
  -moz-box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.08);
  pointer-events: none;
  border-radius: 10px;
}

.is-abled-button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 1rem;
  color: #ffffff;
  background-color: rgba(90, 69, 255, 0.9);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .2s ease-in;
  -moz-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.button-ripple {
  position: absolute;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  -webkit-animation: ripple .8s linear;
  -moz-animation: ripple .8s linear;
  -o-animation: ripple .8s linear;
  animation: ripple .8s linear;
}

@-webkit-keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: .25;
  }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
  }
}

@-moz-keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: .25;
  }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
  }
}

@-o-keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: .25;
  }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: .25;
  }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
  }
}

.is-fixed-button {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(90, 69, 255, 0.1);
  text-align: center;
  padding: 1rem 0;
}

/* -----------------
* Forms
----------------- */
/* -----------------
* Navigation
----------------- */
/* -----------------
* Footer
----------------- */
footer {
  background: #6138b3;
  padding: 2rem;
  margin-top: auto;
}

footer .footer-container {
  display: flex;
  flex-direction: row;
  color: #909090;
}

footer .footer-container a {
  font-size: 12px;
  text-decoration: underline;
  padding-right: 1.5rem;
}

footer .footer-container a:hover, footer .footer-container a:active {
  color: #5A45FF;
}

@media (min-width: 48rem) {
  footer .footer-container {
    padding: 2rem 4rem;
  }
}

/* -----------------
* Tables
----------------- */
.results-table {
  display: block;
}

@media (min-width: 48rem) {
  .results-table {
    padding: 2rem 4rem 4rem;
  }
}

table {
  border-spacing: 1rem;
}

/* -----------------
* Card
----------------- */
.card {
  margin: 2rem 0 0;
  background: #ffffff;
  border-top: 1px solid #ffffff;
  box-shadow: 0 5px 20px -20px rgba(0, 0, 0, 0.19), 0 10px 20px -10px rgba(0, 0, 0, 0.18);
}

@media (min-width: 48rem) {
  .card {
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
  }
}

.card h3 {
  font-weight: normal;
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

.card-question {
  z-index: 1;
  padding: 4rem 2rem;
  background: #ffffff;
}

@media (min-width: 48rem) {
  .card-question {
    padding: 2rem 4rem 4rem;
    min-height: 10rem;
  }
}

.card-question h6 {
  color: #5A45FF;
}

.card-question p {
  font-weight: 500;
}

.card-response {
  z-index: 1;
  padding: 0 2rem 4rem;
  background: #ffffff;
  border-bottom: 1px solid #eceef1;
  font-weight: 400;
  cursor: pointer;
}

@media (min-width: 48rem) {
  .card-response {
    padding: 0 4rem 4rem;
  }
}

.candidate-response {
  padding: 1rem;
  margin: 0 0 0.6rem;
  border-radius: 10px;
  color: #425466;
  background-color: rgba(214, 214, 214, 0.25);
  -moz-box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 1px 1px 5px -1px rgba(0, 0, 0, 0.08);
  -webkit-transition: background-color .25 ease-in;
  -moz-transition: background-color .25 ease-in;
  -o-transition: background-color .25 ease-in;
  transition: background-color .25 ease-in;
}

.is-active-response {
  opacity: 1;
  padding: 1rem;
  margin: 0 0 0.6rem;
  border-radius: 10px;
  color: #425466;
  font-weight: 500;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 3px 0px rgba(0, 0, 0, 0.02);
  background: #5a45ff;
  background: linear-gradient(100deg, #d6d6d6 0%, #d6d6d6 90%);
}

.card-detail {
  display: block;
  position: relative;
  height: 0;
  color: #425466;
  background: #fbfbfb;
  -webkit-transform: translateY(-18rem);
  -moz-transform: translateY(-18rem);
  -o-transform: translateY(-18rem);
  transform: translateY(-18rem);
}

.card-detail-section {
  padding: 4rem 2rem;
  font-size: 15px;
}

@media (min-width: 48rem) {
  .card-detail-section {
    padding: 2rem 4rem;
  }
}

.card-detail-section h6 {
  font-size: 15px;
  padding-bottom: 0.6rem;
}

.card-detail-section a {
  text-decoration: underline;
}

.is-invisible {
  z-index: -1;
  height: 0;
  opacity: 0;
  -webkit-transition: transform .2s ease-in;
  -moz-transition: transform .2s ease-in;
  -o-transition: transform .2s ease-in;
  transition: transform .2s ease-in;
}

.is-visible {
  height: 100%;
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -o-transform: translateY(0rem);
  transform: translateY(0rem);
  -webkit-transition: transform 0.4s cubic-bezier(0.6, 0.13, 0.01, 0.93);
  -moz-transition: transform 0.4s cubic-bezier(0.6, 0.13, 0.01, 0.93);
  -o-transition: transform 0.4s cubic-bezier(0.6, 0.13, 0.01, 0.93);
  transition: transform 0.4s cubic-bezier(0.6, 0.13, 0.01, 0.93);
  -webkit-animation: detailVisible 0.8s cubic-bezier(0.34, 0.29, 0.6, 0.7);
  -moz-animation: detailVisible 0.8s cubic-bezier(0.34, 0.29, 0.6, 0.7);
  -o-animation: detailVisible 0.8s cubic-bezier(0.34, 0.29, 0.6, 0.7);
  animation: detailVisible 0.8s cubic-bezier(0.34, 0.29, 0.6, 0.7);
}

@-webkit-keyframes detailVisible {
  0% {
    z-index: -1;
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}

@-moz-keyframes detailVisible {
  0% {
    z-index: -1;
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}

@-o-keyframes detailVisible {
  0% {
    z-index: -1;
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}

@keyframes detailVisible {
  0% {
    z-index: -1;
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}

.background-secondary {
  background-color: #eceef1;
  box-shadow: none;
}

/* -----------------
* Question
----------------- */
.is-no-response {
  display: inline-block;
  width: 6rem;
  border-bottom: 2px solid #425466;
  text-decoration: none;
}

.is-response {
  overflow: hidden;
  color: #425466;
  font-weight: 800;
}

/* -----------------
* Result
----------------- */
#candidateName {
  color: #000000;
}

.divider {
  border-top: 1px solid rgba(204, 204, 204, 0.2);
}

.is-results-hide {
  position: relative;
  max-height: 0px;
  overflow: hidden;
}

.is-results-show {
  position: relative;
  animation: showPoll 0.4s cubic-bezier(0.29, 0.24, 1, 0.19);
}

@keyframes showPoll {
  0% {
    opacity: 0;
    max-height: 0;
  }
  50% {
    opacity: 0;
    max-height: var(max-height);
  }
  100% {
    opacity: 1;
  }
}

.result-heading {
  text-align: center;
  padding: 2rem;
}

@media (min-width: 48rem) {
  .result-heading {
    padding: 2rem 4rem;
  }
}

.result-heading .candidate-winner {
  color: #5A45FF;
}

.card-candidate-profile {
  margin: 1rem;
  padding: 1.5rem;
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;
  border-radius: 20px 20px 0px 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.19), 0 4px 6px -1px rgba(0, 0, 0, 0.18);
}

@media (min-width: 48rem) {
  .card-candidate-profile {
    grid-column-gap: 4rem;
    grid-rop-gap: 2rem;
    margin: 1rem 0;
  }
}

.card-candidate-profile .profile-h3 {
  line-height: 2rem;
  margin-bottom: 0.4rem;
}

.card-candidate-profile .profile-p {
  font-size: 12px;
  font-weight: 500;
}

.card-candidate-profile .profile-left {
  display: grid;
  text-align: center;
  grid-gap: 1.2rem;
  align-content: start;
  justify-content: center;
}

.card-candidate-profile .profile-row {
  grid-column: 1 / -1;
  justify-self: center;
  align-self: center;
  padding: 2.5rem 0;
  border-top: 1px solid rgba(90, 69, 255, 0.2);
}

@media (min-width: 48rem) {
  .card-candidate-profile .profile-quote {
    padding: 2rem 4rem;
  }
}

.card-candidate-profile .profile-squad {
  margin-top: 1rem;
}

.card-candidate-profile .profile-squad ul {
  list-style: none;
  display: flex;
}

.card-candidate-profile .profile-squad li {
  font-size: 12px;
  text-align: center;
  margin: 0.2rem 0.1rem;
  padding: 0.2rem;
  line-height: 1.4;
}

.card-candidate-profile .profile-squad .profile-squad-img {
  width: 2.7rem;
  border-radius: 0.625rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.19), 0 4px 6px -1px rgba(0, 0, 0, 0.18);
}

.card-candidate-profile .profile-match {
  color: #5A45FF;
  font-weight: 500;
}

.card-candidate-profile .profile-button {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  padding-left: auto;
  padding-right: auto;
  width: 100%;
  background-color: rgba(90, 69, 255, 0.9);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border-radius: 20px;
}

@media (min-width: 48rem) {
  .card-candidate-profile .profile-button {
    width: 100px;
  }
}

.profile-img {
  width: 5.5rem;
  -moz-outline-radius: 5.5rem;
  padding: 2px;
  border-radius: 5.5rem;
  border: 4px solid transparent;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.19), 0 4px 6px -1px rgba(0, 0, 0, 0.18);
  opacity: 1;
}

.is-profile-disabled {
  border: 3px solid rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}

.is-profile-active {
  border: 3px solid #5A45FF;
}

/* -----------------
* Slider
----------------- */
.slider-heading {
  margin: 2rem 1rem 1rem;
}

.slide-question {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 1rem;
}

@media (min-width: 48rem) {
  .slide-question {
    padding: 2rem 4rem;
  }
}

.slide-question p {
  line-height: 1.6;
  font-weight: 400;
}

.slide-question .is-no-response {
  display: inline-block;
  width: 6rem;
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
}

.slide-question .is-response {
  font-weight: 800;
}

.control {
  display: block;
  position: absolute;
  cursor: pointer;
  transform: translateY(-50%);
  width: 50px;
  height: 3rem;
  background: transparent;
  z-index: 2;
  opacity: 1;
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
}

.prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: 0px;
}

.next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: 0px;
}

/* -----------------
* Registration
----------------- */
.registration-container {
  margin: 2rem 0;
}

@media (min-width: 48rem) {
  .registration-container {
    padding: 0 4rem;
  }
}

.registration-heading {
  padding: 2rem 1rem 1rem;
}

.registration-heading h5 {
  color: #cacaca;
  font-weight: 400;
}

.registration-search-input {
  background-position: 0.65rem 0.75rem;
  background-repeat: no-repeat;
  background-color: #5129a2;
  color: #ffffff;
  -moz-box-shadow: inset 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: .8rem 2rem;
  border-radius: 50px;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
}

.registration-lists {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: scroll;
  height: 9.5rem;
  border-radius: 0.4rem;
  overflow-x: hidden;
}

.registration-link {
  border-bottom: 1px solid #5c32b1;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  display: block;
  margin-bottom: .08rem;
  color: #6f6e6f;
  background: #5129a2;
  overflow: hidden;
}

.registration-link:hover,
.registration-link:active,
.registration-link:focus {
  color: #5A45FF;
}

::-webkit-scrollbar-track {
  border: none;
  background: rgba(144, 144, 144, 0.2);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 50px;
}

/* -----------------
* slider v2
----------------- */
.animate {
  transition: transform 0.3s ease-out;
}

.slider-wrap {
  width: 22rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media (min-width: 48rem) {
  .slider-wrap {
    width: 45rem;
  }
}

.slider {
  width: 22rem;
  height: 27rem;
  overflow: hidden;
}

@media (min-width: 48rem) {
  .slider {
    width: 45rem;
  }
}

.holder {
  width: 1000%;
  height: 100%;
}

.slide-wrapper {
  width: 22rem;
  height: 27rem;
  float: left;
  position: relative;
  overflow: hidden;
  text-align: left;
  padding: .1rem;
}

@media (min-width: 48rem) {
  .slide-wrapper {
    width: 45rem;
  }
}
